.user-management-container {
  padding: 1rem;
}

.active-link {
  background-color: rgba(255, 121, 0, 0.1);
  color: #ff7900;
  font-weight: 500;
}

.card-title {
  color: #ff7900;
  font-weight: 500;
  margin-bottom: 1rem;
}

.nav-list {
  margin-left: -16px;
  margin-right: -16px;
}
